{% extends "webapp/base.html" %} 
{% load static %}

{% block title %} 
materiales

{% endblock %} 

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>MATERIALES</h2>
          <ol>
            <li><a href="{% url 'inicio' %}">Home</a></li>
            
 
            
          </ol>


        </div>
        <br/>  
        <br/>  

        <div class="container2">

          <form class="form-inline my-2 my-lg-0" action="{% url "listar-materiales" %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Search" name ="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda de Materiales</button>
          </form>

        </div>

        <br/>
        <br/>
        


        <table class="table table-striped">
          <thead>
            <tr>
            
              <th scope="col">Descrpcion</th>
              <th scope="col">Marca</th>
              <th scope="col">Unidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Fecha Precio</th>
              <th scope="col">Acciones</th>
              
            </tr>
          </thead>
          <tbody>
            {% for item in materiales %}

            <tr>
        
              <td>{{ item.descripcion }}</td>
              <td>{{ marca.nombre }}</td>
              <td>{{ item.unidad }}</td>
              <td>{{ item.precio }}</td>
              <td>{{ item.fecha_precio }}</td>
              <td>Editar  | Borrar</td>
            </tr>
            {% endfor %} 

            

          </tbody>
        </table>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">

      </div>
    </section>

  </main><!-- End #main -->

  {% endblock %} 